<html>
    <head>
        <link href="./semantic.css" rel="stylesheet" type="text/css">
        <script src="./jquery.min.js"></script>
        <script src="./semantic.js"></script>
        <title>AQUA Stuido/Data</title>
    </head>
    <body>
        <div class="ui grid">
            <div class="ui four wide column">
               <div class="ui inverted vertical menu">
                   <div class="item">
                       <h1><P><IMG  src="./imagine/waterdrop.png"  align=left border=0>AQUA Studio<BR>&nbsp;<BR clear=left></h1>
                        <a href="./home.html" class="item"><b>HOME</b> </a>
                        <a href="./diary.html" class="item"><b>DIARY</b></a>
                        <a href="./data.html" class="item"><b>DATA</b></a>
                        <a href="./intelligence.html" class="item"><b>INTELLIGENCE</b> </a>
                        <a href="./contact.html" class="item"><b>CONTACT</b> </a>
                        <a class="item">
                            <a class="header"><h3>Date</h3> </a>
                            
                        <a href="./diary.html" class=" item"><h4>Mon.</h4> </a>
                        <a href="./diary2.html" class="item"><h4>Tues.</h4> </a>
                        <a href="./diary3.html" class="item"><h4>Wed.</h4> </a>
                        <a href="./diary4.html" class="ui active item"><h4>Thur.</h4> </a>
                        <a href="./diary5.html" class="item"><h4>Fri.</h4> </a>
                        <a href="./diary6.html" class="item"><h4>Sat.</h4> </a>
                        <a href="./diary7.html" class="item"><h4>Sun.</h4> </a></a>
                        
               </div>
             </div>  
        </div>
        <div class="ui eleven wide column">
                <div class="ui vertical padded segment">
                    <div class="ui center aligned header">Report of Monday (8th.March)</div>
                <div class="ui vertical segment">
                        <table class="ui blue table">
                            <thead>
                              <tr><th class="four wide"></th>
                              <th>A</th>
                              <th>O1</th>
                              <th>O2</th>
                              <th>O3</th>
                              <th>O4</th>
                              <th>Cf</th>
                              <th>Ef</th>
                            </tr></thead>
                            <tbody>
                              <tr>
                                <td>Temperature(℃)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                    <td>pH</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                              </tr>
                              <tr>
                                    <td>Disolve Oxygen(mg/L)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                        <td>COD(mg/L)</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                            <td>Ammonia(mg/L)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                                <td>Nitrite(mg/L)</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                              </tr>
                                              <tr>
                                                    <td>Nitrate(mg/L)</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                  </tr>
                                                  <tr>
                                                        <td>MLSS(mg/L)</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                      </tr>      
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="ui vertical padded segment">
                    <div class="ui header">Daily Report</div>
                    <div class="ui segment"><p>This is the content of the report!</p> </div>
                </div>
                
        </div>
    </div>
       
    </body>
</html>