{% load staticfiles %}
<html>
    <head>
        <link href=" {%static './semantic.css'%}" rel="stylesheet" type="text/css">
        <script src=" {%static './jquery.min.js'%}"></script>
        <script src=" {%static './semantic.js'%}"></script>
        <link href=" {%static './csslider.default.css'%}" rel="stylesheet" type="text/css">
        <title>AQUA Stuido</title>
    </head>
    <body>
        <div class="ui vertical inverted segment">  
            <div class="ui fixed inverted borderless menu">
                        <div class="ui imagine">
                        <img src="{%static './imagine/waterdrop.png'%}" alt="">
                         </div>
                    <a href="#" class="item"><h1>AQUA STUDIO</h1></a>
                    <div class="right menu"><a href="./home.html" class="item"><b>HOME</b> </a>
                    <a href="./diary.html" class="item"><b>DIARY</b></a>
                    <a href="./data.html" class="item"><b>DATA</b></a>
                    <a href="./intelligence.html" class="item"><b>INTELLIGENCE</b> </a>
                    <a href="./contact.html" class="item"><b>CONTACT</b> </a>
                    <a href="#" class="item">
                            <div class="ui imagine">
                            <img src="./imagine/glass.png" alt="">
                             </div>
                    </a>
                </div>   
                </div>
        </div>
        <div class="csslider">
            <div class="csslider_sigment">
                <div class="h0"><b>AQUA STUDIO</b><style type="text/css">.h0{font-size: 60px;color: rgb(0, 132, 255);text-align:center;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}</style> </div> 
                <div class="h10"><b>Smart Swine Wastewater Treatment. </b><style type="text/css">.h10{position:absolute;left:33% ; bottom:50%;font-size: 25px;color: rgba(58, 59, 59, 0.856);text-align:center;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}</style> </div>
                <div class="h11"><b>More Efficiency. Less Cost.</b><style type="text/css">.h11{position:absolute;left:37% ; bottom:35%;font-size: 25px;color: rgba(58, 59, 59, 0.856);text-align:center;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}</style> </div>
                <div class="h12"><div class="medium ui blue button">LEARN MORE</div><style type="text/css">.h12 {position:absolute;left:45% ;  bottom:7.5%;}</style></div> 
                <style type="text/css">.csslider_sigment{position: absolute;  height:30% ;width: 100%; bottom: 40%;z-index: 8;background: #e5e9eb62;padding:30px 25% 30px 25%;} </style>
            </div>          
            <input type="radio" name="slides" id="slides_1" checked />
                        <input type="radio" name="slides" id="slides_2" />
                        <input type="radio" name="slides" id="slides_3" />
                        <input type="radio" name="slides" id="slides_4" />
                        <input type="radio" name="slides" id="slides_N" />
                        <ul>
                            <li><img class="csslider ul li img" src="{%static './imagine/picture1.jpg'%}" alt=""></li>
                            <li><img class="csslider ul li img" src="{%static './imagine/picture2.jpg'%}" alt=""></li>
                            <li><img class="csslider ul li img" src="{%static './imagine/picture3.jpg'%}"alt=""></li>
                            <li><img class="csslider ul li img" src="{%static './imagine/picture1.jpg'%}"alt=""></li>
                            <li><img class="csslider ul li img" src="{%static './imagine/picture2.jpg'%}"alt=""></li>
                        </ul>
                        <div class="arrows">
                            <label for="slides_1"></label>
                            <label for="slides_2"></label>
                            <label for="slides_3"></label>
                            <label for="slides_4"></label>
                            <label for="slides_N"></label>
                        </div>
                        <div class="navigation">
                            <div>
                                <label for="slides_1"></label>
                                <label for="slides_2"></label>
                                <label for="slides_3"></label>
                                <label for="slides_4"></label>
                                <label for="slides_N"></label>
                            </div>
                        </div>
                
         </div>
    <div class=" ui  segment"> 
        <div class="ui grid">
            <div class="ui one wide column"></div>
            <div class="ui six wide column">
                    <div class="ui imagine">
                            <img src="./imagine/wwtp.jpg"  alt="">
                        </div>
            </div>
            <div class="ui eight wide column">
                    <h1 class="ui header"> 
                            Introduction
                         </h1>
                        <h3>This is the description of AO4 and the demonstration project./This is the description of AO4 and the demonstration project./This is the description of AO4 and the demonstration project./This is the description of AO4 and the demonstration project./This is the description of AO4 and the demonstration project./This is the description of AO4 and the demonstration project./This is the description of AO4 and the demonstration project./This is the description of AO4 and the demonstration project.</h3>
                         <button class="ui bottom button">Read more</button>
            </div>
            <div class="ui one wide column"></div>
        </div>
        <div class="ui grid">
                <div class="ui one wide column"></div>
                <div class="ui eight wide column">
                        <h1 class="ui header"> 
                                Introduction
                             </h1>
                            <h3>This is the description about the on-line platform based on swine wastewater treatment./This is the description about the on-line platform based on swine wastewater treatment./This is the description about the on-line platform based on swine wastewater treatment./This is the description about the on-line platform based on swine wastewater treatment.</h3>
                             <button class="ui button">Read more</button>
                </div>
                <div class="ui six wide column">
                        <div class="ui imagine">
                                <img src="./imagine/data.png"  alt="">
                            </div>
                </div>
                <div class="ui one wide column"></div>
        </div>
    </div>
    <div class="ui inverted vertical segment">
            <div class="ui grid">
                <div class=" ui four wide column"></div>  
                <div class=" ui four wide column"> </div>
                    <div class=" ui four wide column">
                            <div class="ui inverted vertical text menu">
                                <div class="item">
                                    <h3>AQUA Studio</h3> 
                                </div>
                                <a href="./home.html" class="item"><p>Home</p></a>
                                
                                <a href="./diary.html" class="item"><p>Diary</p></a>
                               
                                <a href="./data.html" class="item"><p>Data</p></a>
                                
                                <a href="./intelligence.html" class="item"><p>Intelligence</p></a>
                                
                                <a href="./contact.html" class="item"><p>Contact</p></a>
                                
                            </div>
                    </div>
                    <div class=" ui four wide column">
                            <div class="ui inverted vertical text menu">
                                <div class="item">
                                    <h3>CONTACT INFO</h3> 
                                </div>
                                <a class="item"><p>Zhejiang University</p> </a>
                                <a class="item"><p>866 Yuhangtang Road</p> </a>
                                <a class="item"><p>Hangzhou, Zhejiang Province</p> </a>
                                <a class="item"><p>TEL: 188-6811-5590</p> </a>
                                <a class="item"><p>Zhangks93@outlook.com</p> </a>
                            </div>
                    </div>
            </div>
        </div>
    </div>
    </body>
</html>