<html>
    <head>
            <link href="./semantic.css" rel="stylesheet" type="text/css">
            <script src="./jquery.min.js"></script>
            <script src="./semantic.js"></script>
            <title>AQUA Stuido/Contact</title>
    </head>
    <body>
        <div class="ui vertical inverted segment">  
            <div class="ui fixed inverted borderless menu">
                        <div class="ui imagine">
                        <img src="./imagine/waterdrop.png" alt="">
                         </div>
                    <a href="#" class="item"><h1>AQUA STUDIO</h1></a>
                    <div class="right menu"><a href="./home.html" class="item"><b>HOME</b> </a>
                    <a href="./diary.html" class="item"><b>DIARY</b></a>
                    <a href="./data.html" class="item"><b>DATA</b></a>
                    <a href="./intelligence.html" class="item"><b>INTELLIGENCE</b> </a>
                    <a href="./contact.html" class="item"><b>CONTACT</b> </a>
                    <a href="#" class="item">
                            <div class="ui imagine">
                            <img src="./imagine/glass.png" alt="">
                             </div>
                    </a>
                </div>   
                </div>
        </div>    
        <div class="ui vertical segment "></div>
        <div class="ui vertical segment "></div>
        <div class="ui vertical segment "> <div class="ui grid">
            <div class="ui one wide column"></div>
            <div class="ui fourteen wide column">
                <div class="ui top attached tabular  blue menu">
                <a href="./intelligence.html" class="item "><h3>Soft Sensor</h3>  </a>
                <a href="./intelligence2.html"class="item"><h3>Process Prediction</h3>  </a>
                <a href="./intelligence3.html"class="active item"><h3>Fault Diagnosis</h3>  </a>
              </div>
              <div class="ui bottom attached segment">
                <p></p>
            </div>
            </div>
            <div class="ui one wide column"></div>
        </div>
        </div>
       
        
        <div class="ui inverted vertical segment">
                <div class="ui grid">
                    <div class=" ui four wide column"></div>  
                    <div class=" ui four wide column"> </div>
                        <div class=" ui four wide column">
                                <div class="ui inverted vertical text menu">
                                    <div class="item">
                                        <h3>AQUA Studio</h3> 
                                    </div>
                                    <a href="./home.html" class="item"><p>Home</p></a>
                                    
                                    <a href="./diary.html" class="item"><p>Diary</p></a>
                                   
                                    <a href="./data.html" class="item"><p>Data</p></a>
                                    
                                    <a href="./intelligence.html" class="item"><p>Intelligence</p></a>
                                    
                                    <a href="./contact.html" class="item"><p>Contact</p></a>
                                    
                                </div>
                        </div>
                        <div class=" ui four wide column">
                                <div class="ui inverted vertical text menu">
                                    <div class="item">
                                        <h3>CONTACT INFO</h3> 
                                    </div>
                                    <a class="item"><p>Zhejiang University</p> </a>
                                    <a class="item"><p>866 Yuhangtang Road</p> </a>
                                    <a class="item"><p>Hangzhou, Zhejiang Province</p> </a>
                                    <a class="item"><p>TEL: 188-6811-5590</p> </a>
                                    <a class="item"><p>Zhangks93@outlook.com</p> </a>
                                </div>
                        </div>
                </div>
            </div>    
                
    </body>
</html>